node-red/node-red-data/flows.json
[{"id":"2069bda24c7c7ed8","type":"tab","label":"Rumesh_Test","disabled":false,"info":"","env":[]},{"id":"2e4cf3d726a96487","type":"tab","label":"Nodered Fundamentals","disabled":false,"info":"","env":[]},{"id":"0c77a9742f150aa7","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"b61a66a6e0c15430","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"e45c35e63b3c6bf7","type":"tab","label":"Link In & Linkout & Link Call nodes","disabled":false,"info":"","env":[]},{"id":"4e7ee5e239cc2788","type":"tab","label":"Environment Variable","disabled":false,"info":"","env":[]},{"id":"a3d34e723a238cce","type":"tab","label":"template","disabled":false,"info":"","env":[]},{"id":"d403bd8f2d380747","type":"tab","label":"Function Node","disabled":false,"info":"","env":[]},{"id":"d352b7371b32ecca","type":"tab","label":"External Js","disabled":false,"info":"","env":[]},{"id":"0cc7fbe18d523813","type":"tab","label":"Sub Flows","disabled":false,"info":"","env":[]},{"id":"17db4b7616a71fc0","type":"tab","label":"Rumesh_Aquadigital","disabled":false,"locked":true,"info":"","env":[]},{"id":"bdb02e5a02d34ed8","type":"tab","label":"ESP32 MQTT Receive Sensor Data","disabled":false,"locked":true,"info":""},{"id":"afac105056334b71","type":"tab","label":"test","disabled":false,"info":"","env":[]},{"id":"cdd4f524750eb8b5","type":"tab","label":"Shehani_Aquadigital_devid","disabled":false,"info":"","env":[]},{"id":"3b03ae8d6db0c983","type":"tab","label":"ESP32_MQTT_PubSub","disabled":false,"locked":true,"info":"","env":[]},{"id":"5aaaa13.ece6d6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"534807f8b9d03a26","type":"subflow","name":"Subflow Rumesh","info":"","category":"","in":[{"x":120,"y":180,"wires":[{"id":"ab73a7a8955e0fab"},{"id":"857d4d77bab4296b"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"e0967e67a3ad238b","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":580,"y":320,"wires":[{"id":"09cd47b7a65d3568","port":0},{"id":"857d4d77bab4296b","port":0}]}},{"id":"18e337fc1c76a57a","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["5a01a02cf5b516c0","1a9d6fdf8e3195ee","7c54d1f0f60f56b0","bea6126dc2f85ca2","c90bfe049a39b21c","ee056110236e6d99","db72c4f35d4ca318","0f35e1a07851bc2c","512d17378c90115c","511220f04ed3e822"],"x":74,"y":219,"w":852,"h":302},{"id":"214ab1a9ac839773","type":"group","z":"2e4cf3d726a96487","name":"Example","style":{"stroke":"#0070c0","label":true,"fill":"#7fb7df"},"nodes":["2431a4b6655d3ded","6ba1754311399723","0734850d733edabb"],"x":74,"y":39,"w":432,"h":142},{"id":"5c6e32bcd28cae4c","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["3a21e0c90ff8aab8","36c245e3193bb8fe","2ed0dc4536dc8d69","2a8964f4c356e2ba","8b50e6a1a44df92d"],"x":74,"y":539,"w":692,"h":182},{"id":"9a0cd3862b594007","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["10f3ccea14add605","1ce31afbbb782dd1","af614456ee7e3905","616294351195e21b","acd0fc5cd9be7f58"],"x":74,"y":739,"w":692,"h":222},{"id":"fa212af0f505d2fa","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["0dfa3e0bcd09b03f","6fbdb2196ead9407","3d05535dcb92315f","5889c939007e3ea9","6f9087abe6e1fc26","287e61fa5971b954","1e8de5367b68a89f"],"x":14,"y":1099,"w":912,"h":202},{"id":"a33310b898a17155","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["e4abc692110e646d","550ad1710d248883","ed83c4723e04eca7","6842405b4ba5383f","17c6ab38d4f175ea","9ce354cfce4c38f7","986c0a30122e4fe5","8363040538d8ef32","2f956548dcacab68"],"x":14,"y":1319,"w":1032,"h":322},{"id":"41939a285f2abf5b","type":"group","z":"2e4cf3d726a96487","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["fa9ed1b326e62ff6","9447c9d2aadb961d","69b48eebf07fa2b9","a55fe81c89fd956c","5d5afbdf8c02388c","3005abad45655aa0","dc437f97b94063a6","4466405fd01bf22b","fa7b30926eb07483"],"x":54,"y":1919,"w":672,"h":302},{"id":"d39e1576efb2d38f","type":"group","z":"0c77a9742f150aa7","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["ffc6a101047eb083","af1d605f53b3ba15","41804fc039f42525","103322f6b7f50c7b","97ef9e82413554b7","d39ed267a7c86a9e","192c8ef9abad0ee2","39c028f81f01385d","8e6060220881cecf"],"x":74,"y":39,"w":612,"h":322},{"id":"d9dfdd48dd6c89eb","type":"group","z":"0c77a9742f150aa7","name":"","style":{"label":true},"nodes":["ddcb643b5a069b55","431e8bec8824c6fc","8fa1762e37571324","a0f3c75b65af46c9","8c5532447167c890","8bd46be658f71cf4","233854939b3e602b","1d439c4062de7e1d","aeb1f0cf3c98b1a1","4d345ce50184b7e0","436b07cb1543a89e","47eb5d3d28311be7","dc4d50577987d483","5f2ef62849106ae7","1a3c1b8c3b273e69","06f7a0e0937b0291"],"x":74,"y":399,"w":692,"h":582},{"id":"89ca25f205618574","type":"group","z":"0c77a9742f150aa7","name":"Call node resusable code","style":{"stroke":"#6f2fa0","fill":"#b797cf","label":true},"nodes":["c9d1706cdd5cf63f","634913cc25080d16","d701cfc07751f485"],"x":164,"y":1119,"w":502,"h":82},{"id":"1a9d02c4b2ca8b21","type":"group","z":"b61a66a6e0c15430","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["7b9ff8f31f7d1975","10f9c46862c19689","49a6beadcc7916f0","6a76f016a8e9375f","29998e36b46ed9b2","b8fa9b06641f7329","19759da73977581a","3e2392a8ecd52b82","c6008442229e254a","8c3e1b0c5599767a"],"x":54,"y":299,"w":992,"h":222},{"id":"b2125aab1481a644","type":"group","z":"a3d34e723a238cce","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["4cc34bac5871e094","593fcb25f5d9b118","53887524c6192758","dfb321e014a9dc5e","17548e9292805245"],"x":114,"y":399,"w":652,"h":182},{"id":"26075b144d4d7afc","type":"group","z":"a3d34e723a238cce","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["522c8f33abdf8445","dd5239135b768744","675928c941e0e093","48353e984ac7bde5","dca529c7d1525153","b70201de22696ea3","7d150d2c6089acbf"],"x":134,"y":719,"w":692,"h":202},{"id":"b5d77ba3a0ef0d32","type":"group","z":"d352b7371b32ecca","style":{"stroke":"#b2b3bd","stroke-opacity":"1","fill":"#f2f3fb","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#32333b"},"nodes":["9b9de7ecf95ef087","aebd09f6cead9f43","50757024ea62bdc6","f59ac92e8398731e","8e4235229962d065"],"x":94,"y":219,"w":552,"h":202},{"id":"f7c57443fd647ca2","type":"group","z":"5aaaa13.ece6d6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2ae6863d.4dde9a","80ec7e53.05efd8","2b95a165.3c9426","528863e0.79eb54","6e4f621f.b2f1e4","31c609d9.aa546e","400c763c.ec8bf","f9f33605.5751e8"],"x":54,"y":59,"w":402,"h":262},{"id":"39c028f81f01385d","type":"junction","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","x":460,"y":140,"wires":[["41804fc039f42525","103322f6b7f50c7b"]]},{"id":"7be4946d8e0d9b73","type":"database-config","name":"Embedded-Product-Dev","authType":"email","claims":{},"createUser":true,"useClaims":false},{"id":"741d1926c25896aa","type":"MySQLdatabase","name":"mysqlc","host":"mysqlc","port":"3306","db":"espdata","tz":"","charset":"UTF8"},{"id":"35080d47a7fbd844","type":"global-config","env":[{"name":"Name","value":"Joe","type":"str"},{"name":"MODE","value":"development","type":"str"}],"modules":{"@gogovega/node-red-contrib-firebase-realtime-database":"0.5.6","node-red-node-mysql":"2.0.0","node-red-dashboard":"3.6.6"}},{"id":"a0c1670d41439961","type":"database-config","name":"AquaTestOnly","authType":"anonymous","claims":{},"createUser":false,"useClaims":false},{"id":"ab7b13ae.dc7ad8","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d24f7a761a7bf369","type":"database-config","name":"Aqua_Production","authType":"anonymous","claims":{},"createUser":false,"useClaims":false},{"id":"e831e97d.9c2728","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bc8d5bb81f82c263","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"64d2bfeee994cf35","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d81ab6a9fbfa06fa","type":"ui_tab","name":"Smart Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4ebde4bf086c8941","type":"database-config","name":"My Database","authType":"email","claims":{},"createUser":true,"useClaims":false},{"id":"8a0730c7ed638274","type":"database-config","name":"My Database","authType":"email","claims":{},"createUser":true,"useClaims":false},{"id":"f57a184e.4f4fa","type":"ui_tab","name":"ESP32","icon":"dashboard","disabled":false,"hidden":false},{"id":"d7c12b74.277828","type":"ui_group","name":"Controls","tab":"f57a184e.4f4fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"dbf2452e.b49af","type":"ui_tab","name":"ESP8266","icon":"dashboard","disabled":false,"hidden":false},{"id":"4120bc84.e1bb74","type":"ui_group","name":"Controls","tab":"dbf2452e.b49af","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ccde2ba.796d34","type":"ui_group","name":"Monitor","tab":"dbf2452e.b49af","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8796a1869e179bc","type":"database-config","name":"My Database","authType":"privateKey","claims":{},"createUser":false,"useClaims":false},{"id":"71703d2749d9d15c","type":"ui_group","name":"Control GPIO ESP32","tab":"d81ab6a9fbfa06fa","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ab73a7a8955e0fab","type":"function","z":"534807f8b9d03a26","name":"function 21","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["e0967e67a3ad238b"]]},{"id":"7a004951c2646992","type":"change","z":"534807f8b9d03a26","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Querying","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[[]]},{"id":"09cd47b7a65d3568","type":"change","z":"534807f8b9d03a26","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.text","pt":"msg","to":"Done","tot":"str"},{"t":"set","p":"payload.shape","pt":"msg","to":"dot","tot":"str"},{"t":"set","p":"payload.fill","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[[]]},{"id":"e0967e67a3ad238b","type":"delay","z":"534807f8b9d03a26","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":80,"wires":[["09cd47b7a65d3568"]]},{"id":"857d4d77bab4296b","type":"change","z":"534807f8b9d03a26","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.text","pt":"msg","to":"Querying......","tot":"str"},{"t":"set","p":"payload.shape","pt":"msg","to":"ring","tot":"str"},{"t":"set","p":"payload.fill","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[[]]},{"id":"174683347150c217","type":"catch","z":"534807f8b9d03a26","name":"","scope":null,"uncaught":false,"x":220,"y":340,"wires":[[]]},{"id":"29cdd6ed6a1933b4","type":"function","z":"2069bda24c7c7ed8","name":"Process Data","func":"\n\nvar inputString = msg.payload;\nvar jsonString = inputString.replace(/'/g, '\"');\nvar data = JSON.parse(jsonString);\n\nfunction checkNegative(value) {\n    return value < 0 ? 'NC' : value;\n}\n\n\nmsg.payload = {\n    Temp: checkNegative(data.t),\n    pH: checkNegative(data.p),\n    TDS: checkNegative(data.T),\n    ox: data.o,\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["ace802b9380be149","d7b2d5a8dde65603","6ba0b322bb339263"]]},{"id":"ace802b9380be149","type":"debug","z":"2069bda24c7c7ed8","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"3cb34b9255a199f7","type":"inject","z":"2069bda24c7c7ed8","name":"Inject Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{'t':12790,'p':7.2,'T':435, 'o':300}","payloadType":"str","x":100,"y":200,"wires":[["32d4a7dff53c3f72","29cdd6ed6a1933b4"]]},{"id":"32d4a7dff53c3f72","type":"debug","z":"2069bda24c7c7ed8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":200,"wires":[]},{"id":"6ba0b322bb339263","type":"function","z":"2069bda24c7c7ed8","name":"Add Timestamp","func":"var data = msg.payload;\n\nvar currentDate = new Date();\n\nvar day = currentDate.getDate().toString().padStart(2, '0');\nvar month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nvar year = currentDate.getFullYear();\nvar hours = currentDate.getHours().toString().padStart(2, '0');\nvar minutes = currentDate.getMinutes().toString().padStart(2, '0');\nvar seconds = currentDate.getSeconds().toString().padStart(2, '0');\n\nvar formattedDate = `${day}:${month}:${year}_${hours}:${minutes}:${seconds}`;\n\nmsg.payload = { \n    time: formattedDate,\n    Temp: data.Temp,\n    pH: data.pH,\n    TDS: data.TDS,\n    ox: data.ox\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["d8b9326eb54a2b81","00195d7176b5be24"]]},{"id":"00195d7176b5be24","type":"debug","z":"2069bda24c7c7ed8","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"d8b9326eb54a2b81","type":"firebase-out","z":"2069bda24c7c7ed8","name":"","database":"7be4946d8e0d9b73","path":"Devices/Rumesh/log","pathType":"str","priority":1,"queryType":"push","x":1020,"y":400,"wires":[]},{"id":"d7b2d5a8dde65603","type":"firebase-out","z":"2069bda24c7c7ed8","name":"","database":"7be4946d8e0d9b73","path":"Devices/Rumesh/RT","pathType":"str","priority":1,"queryType":"update","x":1030,"y":320,"wires":[]},{"id":"6f6a90fa5c86f136","type":"mysql","z":"2069bda24c7c7ed8","mydb":"741d1926c25896aa","name":"","x":420,"y":460,"wires":[[]]},{"id":"a011ca343725529d","type":"inject","z":"2069bda24c7c7ed8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":460,"wires":[["6f6a90fa5c86f136"]]},{"id":"34aca14a2687f1f7","type":"mqtt in","z":"2069bda24c7c7ed8","name":"","topic":"test","qos":"2","datatype":"auto-detect","broker":"e831e97d.9c2728","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":540,"wires":[[]]},{"id":"5a01a02cf5b516c0","type":"inject","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["1a9d6fdf8e3195ee"]]},{"id":"1a9d6fdf8e3195ee","type":"debug","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":300,"wires":[]},{"id":"2431a4b6655d3ded","type":"inject","z":"2e4cf3d726a96487","g":"214ab1a9ac839773","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"Hi Rumesh","payloadType":"str","x":190,"y":140,"wires":[["6ba1754311399723"]]},{"id":"6ba1754311399723","type":"debug","z":"2e4cf3d726a96487","g":"214ab1a9ac839773","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"7c54d1f0f60f56b0","type":"switch","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":360,"wires":[["bea6126dc2f85ca2"],["ee056110236e6d99"],["0f35e1a07851bc2c"]]},{"id":"bea6126dc2f85ca2","type":"debug","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]},{"id":"c90bfe049a39b21c","type":"debug","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":420,"wires":[]},{"id":"ee056110236e6d99","type":"debug","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"db72c4f35d4ca318","type":"debug","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]},{"id":"0f35e1a07851bc2c","type":"function","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"function 1","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":480,"wires":[["db72c4f35d4ca318"]]},{"id":"3a21e0c90ff8aab8","type":"mqtt in","z":"2e4cf3d726a96487","g":"5c6e32bcd28cae4c","name":"","topic":"tre","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":620,"wires":[["36c245e3193bb8fe"]]},{"id":"36c245e3193bb8fe","type":"switch","z":"2e4cf3d726a96487","g":"5c6e32bcd28cae4c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Sensor1","vt":"str"},{"t":"eq","v":"Sensor2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":620,"wires":[["2ed0dc4536dc8d69"],["2a8964f4c356e2ba"]]},{"id":"2ed0dc4536dc8d69","type":"debug","z":"2e4cf3d726a96487","g":"5c6e32bcd28cae4c","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":620,"wires":[]},{"id":"2a8964f4c356e2ba","type":"debug","z":"2e4cf3d726a96487","g":"5c6e32bcd28cae4c","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":680,"wires":[]},{"id":"10f3ccea14add605","type":"inject","z":"2e4cf3d726a96487","g":"9a0cd3862b594007","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() * 100","payloadType":"jsonata","x":170,"y":820,"wires":[["616294351195e21b","1ce31afbbb782dd1"]]},{"id":"1ce31afbbb782dd1","type":"change","z":"2e4cf3d726a96487","g":"9a0cd3862b594007","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":820,"wires":[["af614456ee7e3905"]]},{"id":"af614456ee7e3905","type":"debug","z":"2e4cf3d726a96487","g":"9a0cd3862b594007","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":820,"wires":[]},{"id":"616294351195e21b","type":"debug","z":"2e4cf3d726a96487","g":"9a0cd3862b594007","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":920,"wires":[]},{"id":"512d17378c90115c","type":"inject","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() + 10","payloadType":"jsonata","x":190,"y":340,"wires":[["7c54d1f0f60f56b0","c90bfe049a39b21c"]]},{"id":"7b71c41fe9355d0f","type":"inject","z":"2e4cf3d726a96487","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() + 10","payloadType":"jsonata","x":150,"y":1000,"wires":[["02f1226be77d8c25","07cb91a6cbdc851b"]]},{"id":"02f1226be77d8c25","type":"range","z":"2e4cf3d726a96487","minin":"0","maxin":"50","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":420,"y":1000,"wires":[["f92f2488817bb20c"]]},{"id":"07cb91a6cbdc851b","type":"debug","z":"2e4cf3d726a96487","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1060,"wires":[]},{"id":"f92f2488817bb20c","type":"debug","z":"2e4cf3d726a96487","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1000,"wires":[]},{"id":"6fbdb2196ead9407","type":"inject","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4]","payloadType":"json","x":120,"y":1180,"wires":[["3d05535dcb92315f","6f9087abe6e1fc26"]]},{"id":"3d05535dcb92315f","type":"split","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":290,"y":1180,"wires":[["5889c939007e3ea9"]]},{"id":"0dfa3e0bcd09b03f","type":"join","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":690,"y":1160,"wires":[["287e61fa5971b954"]]},{"id":"5889c939007e3ea9","type":"range","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","minin":"1","maxin":"4","minout":"10","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":460,"y":1180,"wires":[["0dfa3e0bcd09b03f"]]},{"id":"6f9087abe6e1fc26","type":"debug","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":1260,"wires":[]},{"id":"287e61fa5971b954","type":"debug","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1220,"wires":[]},{"id":"e4abc692110e646d","type":"http request","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.gameofthronesquotes.xyz/v1/random/5","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":1400,"wires":[["986c0a30122e4fe5","6842405b4ba5383f"]]},{"id":"550ad1710d248883","type":"inject","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1400,"wires":[["e4abc692110e646d"]]},{"id":"ed83c4723e04eca7","type":"debug","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":1600,"wires":[]},{"id":"6842405b4ba5383f","type":"change","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.character.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1380,"wires":[["17c6ab38d4f175ea"]]},{"id":"17c6ab38d4f175ea","type":"split","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":670,"y":1400,"wires":[["9ce354cfce4c38f7","8363040538d8ef32"]]},{"id":"9ce354cfce4c38f7","type":"join","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":830,"y":1500,"wires":[["ed83c4723e04eca7"]]},{"id":"986c0a30122e4fe5","type":"debug","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":1540,"wires":[]},{"id":"8363040538d8ef32","type":"debug","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1540,"wires":[]},{"id":"945e4577797dad19","type":"inject","z":"2e4cf3d726a96487","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1720,"wires":[["84a9e71e45afe7c5"]]},{"id":"84a9e71e45afe7c5","type":"http request","z":"2e4cf3d726a96487","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://world.openfoodfacts.org/api/v0/product/737628064502.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":1720,"wires":[["2435607c0ed1ba0a","f05fae4182e6cc0a"]]},{"id":"9b7779f235ac8558","type":"debug","z":"2e4cf3d726a96487","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":1720,"wires":[]},{"id":"f05fae4182e6cc0a","type":"change","z":"2e4cf3d726a96487","name":"","rules":[{"t":"set","p":"payload.code","pt":"msg","to":"$number(payload.code)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1720,"wires":[["9b7779f235ac8558"]]},{"id":"2435607c0ed1ba0a","type":"debug","z":"2e4cf3d726a96487","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1820,"wires":[]},{"id":"5b2d500a3820b54f","type":"split","z":"2e4cf3d726a96487","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":770,"y":1780,"wires":[[]]},{"id":"fa9ed1b326e62ff6","type":"trigger","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"","op1":"1","op2":"78","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":2020,"wires":[["69b48eebf07fa2b9"]]},{"id":"9447c9d2aadb961d","type":"inject","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2020,"wires":[["fa9ed1b326e62ff6","a55fe81c89fd956c","3005abad45655aa0"]]},{"id":"69b48eebf07fa2b9","type":"debug","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":2020,"wires":[]},{"id":"a55fe81c89fd956c","type":"delay","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":2100,"wires":[["5d5afbdf8c02388c"]]},{"id":"5d5afbdf8c02388c","type":"debug","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":2080,"wires":[]},{"id":"3005abad45655aa0","type":"delay","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":2,"x":410,"y":2160,"wires":[["dc437f97b94063a6"],["4466405fd01bf22b"]]},{"id":"dc437f97b94063a6","type":"debug","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":2140,"wires":[]},{"id":"4466405fd01bf22b","type":"debug","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":2180,"wires":[]},{"id":"1cd4b7aeb8b0489e","type":"trigger","z":"2e4cf3d726a96487","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":720,"y":1860,"wires":[[]]},{"id":"0734850d733edabb","type":"comment","z":"2e4cf3d726a96487","g":"214ab1a9ac839773","name":"","info":"","x":160,"y":80,"wires":[]},{"id":"511220f04ed3e822","type":"comment","z":"2e4cf3d726a96487","g":"18e337fc1c76a57a","name":"","info":"","x":160,"y":260,"wires":[]},{"id":"8b50e6a1a44df92d","type":"comment","z":"2e4cf3d726a96487","g":"5c6e32bcd28cae4c","name":"","info":"","x":160,"y":580,"wires":[]},{"id":"acd0fc5cd9be7f58","type":"comment","z":"2e4cf3d726a96487","g":"9a0cd3862b594007","name":"","info":"","x":160,"y":780,"wires":[]},{"id":"1e8de5367b68a89f","type":"comment","z":"2e4cf3d726a96487","g":"fa212af0f505d2fa","name":"","info":"","x":100,"y":1140,"wires":[]},{"id":"2f956548dcacab68","type":"comment","z":"2e4cf3d726a96487","g":"a33310b898a17155","name":"","info":"","x":120,"y":1360,"wires":[]},{"id":"fa7b30926eb07483","type":"comment","z":"2e4cf3d726a96487","g":"41939a285f2abf5b","name":"","info":"","x":160,"y":1960,"wires":[]},{"id":"ffc6a101047eb083","type":"inject","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["af1d605f53b3ba15"]]},{"id":"af1d605f53b3ba15","type":"function","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"function 2","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["39c028f81f01385d"]]},{"id":"41804fc039f42525","type":"debug","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"103322f6b7f50c7b","type":"change","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[[]]},{"id":"97ef9e82413554b7","type":"inject","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["d39ed267a7c86a9e","192c8ef9abad0ee2"]]},{"id":"d39ed267a7c86a9e","type":"debug","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":260,"wires":[]},{"id":"192c8ef9abad0ee2","type":"debug","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":320,"wires":[]},{"id":"8e6060220881cecf","type":"comment","z":"0c77a9742f150aa7","g":"d39e1576efb2d38f","name":"","info":"# Junction Nodes","x":160,"y":80,"wires":[]},{"id":"ddcb643b5a069b55","type":"comment","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"","info":"Link Nodes","x":180,"y":440,"wires":[]},{"id":"431e8bec8824c6fc","type":"inject","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":500,"wires":[["8fa1762e37571324","a0f3c75b65af46c9","8c5532447167c890"]]},{"id":"8fa1762e37571324","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 3","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["8bd46be658f71cf4"]]},{"id":"a0f3c75b65af46c9","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 4","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":560,"wires":[[]]},{"id":"8c5532447167c890","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 5","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":620,"wires":[[]]},{"id":"8bd46be658f71cf4","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 6","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":520,"wires":[[]]},{"id":"233854939b3e602b","type":"inject","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":720,"wires":[["1d439c4062de7e1d"]]},{"id":"1d439c4062de7e1d","type":"link out","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"link out 1","mode":"link","links":["aeb1f0cf3c98b1a1"],"x":375,"y":720,"wires":[]},{"id":"aeb1f0cf3c98b1a1","type":"link in","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"link in 1","links":["1d439c4062de7e1d"],"x":285,"y":800,"wires":[["4d345ce50184b7e0","436b07cb1543a89e","47eb5d3d28311be7","06f7a0e0937b0291"]]},{"id":"4d345ce50184b7e0","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 7","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["dc4d50577987d483"]]},{"id":"436b07cb1543a89e","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 8","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":840,"wires":[[]]},{"id":"47eb5d3d28311be7","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 9","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":880,"wires":[["5f2ef62849106ae7"]]},{"id":"dc4d50577987d483","type":"function","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"function 10","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":800,"wires":[[]]},{"id":"5f2ef62849106ae7","type":"debug","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":880,"wires":[]},{"id":"06f7a0e0937b0291","type":"link call","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"","links":["634913cc25080d16"],"linkType":"static","timeout":"30","x":440,"y":940,"wires":[["1a3c1b8c3b273e69"]]},{"id":"1a3c1b8c3b273e69","type":"debug","z":"0c77a9742f150aa7","g":"d9dfdd48dd6c89eb","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":940,"wires":[]},{"id":"c9d1706cdd5cf63f","type":"change","z":"0c77a9742f150aa7","g":"89ca25f205618574","name":"Multiply by 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload * 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1160,"wires":[["d701cfc07751f485"]]},{"id":"634913cc25080d16","type":"link in","z":"0c77a9742f150aa7","g":"89ca25f205618574","name":"link in 2","links":[],"x":205,"y":1160,"wires":[["c9d1706cdd5cf63f"]]},{"id":"d701cfc07751f485","type":"link out","z":"0c77a9742f150aa7","g":"89ca25f205618574","name":"Multiply by 10","mode":"return","links":[],"x":625,"y":1160,"wires":[]},{"id":"2997d260f4413d4c","type":"link out","z":"0c77a9742f150aa7","name":"link out 2","mode":"link","links":[],"x":895,"y":440,"wires":[]},{"id":"e2e225091da53b2c","type":"inject","z":"b61a66a6e0c15430","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Rumesh","payloadType":"str","x":160,"y":80,"wires":[["32ee7c3b22ea5ba9"]]},{"id":"b4a6cf599e4adb63","type":"debug","z":"b61a66a6e0c15430","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":80,"wires":[]},{"id":"32ee7c3b22ea5ba9","type":"change","z":"b61a66a6e0c15430","name":"","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["b4a6cf599e4adb63"]]},{"id":"3f6f56963c64e8c1","type":"inject","z":"b61a66a6e0c15430","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Dev","payloadType":"str","x":150,"y":140,"wires":[["32ee7c3b22ea5ba9"]]},{"id":"937407c5da4360cd","type":"inject","z":"b61a66a6e0c15430","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":220,"wires":[["81244da99fc4086d"]]},{"id":"81244da99fc4086d","type":"change","z":"b61a66a6e0c15430","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["f6d4abf50bc8768d"]]},{"id":"f6d4abf50bc8768d","type":"debug","z":"b61a66a6e0c15430","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":220,"wires":[]},{"id":"f09a55b409e859f8","type":"comment","z":"b61a66a6e0c15430","name":"Context Stores","info":"# Context Stores","x":160,"y":40,"wires":[]},{"id":"7b9ff8f31f7d1975","type":"inject","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"Start Line","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["10f9c46862c19689"]]},{"id":"10f9c46862c19689","type":"change","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"","rules":[{"t":"set","p":"time_started","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[[]]},{"id":"49a6beadcc7916f0","type":"debug","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"6a76f016a8e9375f","type":"comment","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"Building timer","info":"","x":150,"y":340,"wires":[]},{"id":"29998e36b46ed9b2","type":"inject","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"End Line","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["19759da73977581a"]]},{"id":"b8fa9b06641f7329","type":"change","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"","rules":[{"t":"set","p":"time_ended","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["c6008442229e254a"]]},{"id":"19759da73977581a","type":"switch","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"","property":"time_started","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":440,"wires":[["b8fa9b06641f7329"],["3e2392a8ecd52b82"]]},{"id":"3e2392a8ecd52b82","type":"change","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Process Not Started","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["49a6beadcc7916f0"]]},{"id":"c6008442229e254a","type":"change","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"($flowContext('time_ended') - $flowContext('time_started')) / 1000","tot":"jsonata"},{"t":"delete","p":"time_started","pt":"flow"},{"t":"delete","p":"time_ended","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["8c3e1b0c5599767a"]]},{"id":"8c3e1b0c5599767a","type":"debug","z":"b61a66a6e0c15430","g":"1a9d02c4b2ca8b21","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"fa8c15dbffe0da89","type":"inject","z":"e45c35e63b3c6bf7","name":"Joe Arrived","props":[{"p":"name","v":"joe","vt":"str"},{"p":"isHome","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":80,"wires":[["2471bf798d81380a"]]},{"id":"8a8ec1088595a197","type":"inject","z":"e45c35e63b3c6bf7","name":"Joe Left","props":[{"p":"name","v":"joe","vt":"str"},{"p":"isHome","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":140,"wires":[["2471bf798d81380a"]]},{"id":"07fba04a4903df19","type":"change","z":"e45c35e63b3c6bf7","name":"","rules":[{"t":"set","p":"family[msg.name]","pt":"global","to":"isHome","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[[]]},{"id":"62d12e38cf16c866","type":"inject","z":"e45c35e63b3c6bf7","name":"Steave Arrived","props":[{"p":"name","v":"Steave","vt":"str"},{"p":"isHome","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":620,"y":80,"wires":[["615ac6c70edaf7a2"]]},{"id":"a7e5e46b9c1d4021","type":"inject","z":"e45c35e63b3c6bf7","name":"Steave Left","props":[{"p":"name","v":"Steave","vt":"str"},{"p":"isHome","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":140,"wires":[["615ac6c70edaf7a2"]]},{"id":"615ac6c70edaf7a2","type":"link out","z":"e45c35e63b3c6bf7","name":"link out 3","mode":"link","links":["9a616a4b0911406e"],"x":805,"y":120,"wires":[]},{"id":"2471bf798d81380a","type":"link out","z":"e45c35e63b3c6bf7","name":"link out 4","mode":"link","links":["9a616a4b0911406e"],"x":435,"y":100,"wires":[]},{"id":"9a616a4b0911406e","type":"link in","z":"e45c35e63b3c6bf7","name":"link in 3","links":["2471bf798d81380a","615ac6c70edaf7a2"],"x":315,"y":260,"wires":[["07fba04a4903df19"]]},{"id":"a3021dfd2bf54d49","type":"inject","z":"e45c35e63b3c6bf7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":340,"wires":[["14a2c1c31ee10838"]]},{"id":"14a2c1c31ee10838","type":"change","z":"e45c35e63b3c6bf7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"family","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["263d85647a1e520f"]]},{"id":"263d85647a1e520f","type":"debug","z":"e45c35e63b3c6bf7","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"ac13933d300681da","type":"inject","z":"4e7ee5e239cc2788","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Name","payloadType":"env","x":190,"y":100,"wires":[["54b99e9195f88dd0"]]},{"id":"54b99e9195f88dd0","type":"debug","z":"4e7ee5e239cc2788","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":100,"wires":[]},{"id":"3edf260e6957133b","type":"inject","z":"4e7ee5e239cc2788","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MODE","payloadType":"env","x":190,"y":160,"wires":[["54b99e9195f88dd0"]]},{"id":"438a49522fe4ea9d","type":"inject","z":"4e7ee5e239cc2788","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["c61737650aa426dc","6f6fd0d806ee7ca7"]]},{"id":"95ff39847691deff","type":"debug","z":"4e7ee5e239cc2788","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":260,"wires":[]},{"id":"c61737650aa426dc","type":"change","z":"4e7ee5e239cc2788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Name","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["95ff39847691deff"]]},{"id":"6f6fd0d806ee7ca7","type":"change","z":"4e7ee5e239cc2788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Hi \" & $env(\"Name\") & \"!\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["95ff39847691deff"]]},{"id":"a07da8eb665a7379","type":"inject","z":"a3d34e723a238cce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":140,"wires":[["565c2a8efbf7cc17","e33a59214edb1866"]]},{"id":"565c2a8efbf7cc17","type":"change","z":"a3d34e723a238cce","name":"","rules":[{"t":"set","p":"example","pt":"flow","to":"Hello world","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[[]]},{"id":"e33a59214edb1866","type":"template","z":"a3d34e723a238cce","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !\nThis context stores: {{flow.example}}\nenvironment variable: {{env.MODE}}","output":"str","x":440,"y":220,"wires":[["11be4dd081fb69de"]]},{"id":"11be4dd081fb69de","type":"debug","z":"a3d34e723a238cce","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":220,"wires":[]},{"id":"0c4a47a602604ddd","type":"inject","z":"a3d34e723a238cce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"Apple\"},{\"name\":\"orange\"},{\"name\":\"banana\"}]","payloadType":"json","x":190,"y":300,"wires":[["16d3802bbd2d130d"]]},{"id":"19179a58b7d88377","type":"debug","z":"a3d34e723a238cce","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"16d3802bbd2d130d","type":"template","z":"a3d34e723a238cce","name":"Loop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n    {{#payload}}\n    <li>{{name}}</li>\n    {{/payload}}\n\n</ul>\n\n\n{{payload}}","output":"str","x":450,"y":300,"wires":[["19179a58b7d88377"]]},{"id":"4cc34bac5871e094","type":"template","z":"a3d34e723a238cce","g":"b2125aab1481a644","name":"If/Else","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<div>\n This is div 1   \n</div>\n{{/payload}}\n\n<div>\n  This is div 2  \n</div>","output":"str","x":470,"y":500,"wires":[["53887524c6192758"]]},{"id":"593fcb25f5d9b118","type":"inject","z":"a3d34e723a238cce","g":"b2125aab1481a644","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":500,"wires":[["4cc34bac5871e094"]]},{"id":"53887524c6192758","type":"debug","z":"a3d34e723a238cce","g":"b2125aab1481a644","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":500,"wires":[]},{"id":"dfb321e014a9dc5e","type":"inject","z":"a3d34e723a238cce","g":"b2125aab1481a644","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":540,"wires":[["4cc34bac5871e094"]]},{"id":"17548e9292805245","type":"comment","z":"a3d34e723a238cce","g":"b2125aab1481a644","name":"Renders everything first case Renders div2 in second case","info":"Renders everything first case\nRenders div2 in second case","x":350,"y":440,"wires":[]},{"id":"7caa275c9762c10f","type":"http in","z":"a3d34e723a238cce","name":"","url":"template/demo","method":"get","upload":false,"swaggerDoc":"","x":250,"y":640,"wires":[["b72c21762020f339"]]},{"id":"9ce3b658484d673e","type":"http response","z":"a3d34e723a238cce","name":"","statusCode":"","headers":{},"x":670,"y":640,"wires":[]},{"id":"b72c21762020f339","type":"change","z":"a3d34e723a238cce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":640,"wires":[["9ce3b658484d673e"]]},{"id":"522c8f33abdf8445","type":"debug","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":820,"wires":[]},{"id":"dd5239135b768744","type":"template","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"","field":"content","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"<ul>\n    {{#payload}}\n    <li>{{name}}</li>\n    {{/payload}}\n</ul>","output":"str","x":460,"y":820,"wires":[["522c8f33abdf8445"]]},{"id":"675928c941e0e093","type":"http in","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"","url":"htmlparse","method":"get","upload":false,"swaggerDoc":"","x":260,"y":880,"wires":[["dca529c7d1525153"]]},{"id":"48353e984ac7bde5","type":"http response","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"","statusCode":"","headers":{},"x":650,"y":880,"wires":[]},{"id":"dca529c7d1525153","type":"change","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"content","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":880,"wires":[["48353e984ac7bde5"]]},{"id":"b70201de22696ea3","type":"inject","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"Apple\"},{\"name\":\"orange\"},{\"name\":\"banana\"}]","payloadType":"json","x":230,"y":820,"wires":[["dd5239135b768744"]]},{"id":"7d150d2c6089acbf","type":"comment","z":"a3d34e723a238cce","g":"26075b144d4d7afc","name":"Parse HTML Page from JSON Data using template","info":"","x":370,"y":760,"wires":[]},{"id":"c138e82c56391d8d","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":80,"wires":[["5c4bb3cd2326c855"]]},{"id":"5c4bb3cd2326c855","type":"function","z":"d403bd8f2d380747","name":"function 11","func":"msg.payload = \"Hello World\"\nmsg.payload1 = \"the d\"\nmsg.payload = msg.payload + msg.payload1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["d79d13a6063c246e"]]},{"id":"d79d13a6063c246e","type":"debug","z":"d403bd8f2d380747","name":"debug 40","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"8d217ca78b8fd68b","type":"comment","z":"d403bd8f2d380747","name":"Basic JS","info":"","x":160,"y":160,"wires":[]},{"id":"3aba742463bb7cf4","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":150,"y":220,"wires":[["e65e1824809648f5"]]},{"id":"e65e1824809648f5","type":"function","z":"d403bd8f2d380747","name":"function 12","func":"if (msg.payload > 25){\n    msg.payload = \"This is High\"\n    return msg;\n}\n    else if (msg.payload > 15){\n        msg.payload = \"This is Middle\"\n        return msg;\n    }   \n\n    else{\n        msg.payload =\"This is Low\"\n        return msg;\n    }\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["b9a4b6fb22732564"]]},{"id":"b9a4b6fb22732564","type":"debug","z":"d403bd8f2d380747","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":220,"wires":[]},{"id":"acfd37aeb7a2fcb0","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":150,"y":260,"wires":[["e65e1824809648f5"]]},{"id":"d323a91b2f29a426","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":150,"y":300,"wires":[["e65e1824809648f5"]]},{"id":"0c03e32a46201af8","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ \"apple\", \"banana\", \"orange\"]","payloadType":"json","x":150,"y":500,"wires":[["7e54013926e2d4a0"]]},{"id":"7e54013926e2d4a0","type":"function","z":"d403bd8f2d380747","name":"function 13","func":"let fruits = ''\nfor(let index = 0;index<msg.payload.length;index++){\n    const fruit = msg.payload[index];\n    fruits = fruits + fruit + '\\n'\n}\nmsg.payload = fruits\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":500,"wires":[["c540be1c09ddcd00"]]},{"id":"c540be1c09ddcd00","type":"debug","z":"d403bd8f2d380747","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":500,"wires":[]},{"id":"db5a62e4d52a928c","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ \"apple\", \"banana\", \"orange\"]","payloadType":"json","x":150,"y":620,"wires":[["e86273e0f850976f"]]},{"id":"e86273e0f850976f","type":"function","z":"d403bd8f2d380747","name":"function 14","func":"let msgs = []\nfor(let index = 0;index<msg.payload.length;index++){\n    const fruit = msg.payload[index];\n    msgs.push({\n        payload:fruit\n    })\n}\n\nreturn msgs;","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":620,"wires":[["60b5a0023230d6df"],["5f27bf35de2ffe0c"],["e34b42c044b7bcc6"]]},{"id":"60b5a0023230d6df","type":"debug","z":"d403bd8f2d380747","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":600,"wires":[]},{"id":"86dfabd001d79307","type":"comment","z":"d403bd8f2d380747","name":"Multiple Outputs","info":"","x":180,"y":560,"wires":[]},{"id":"5f27bf35de2ffe0c","type":"debug","z":"d403bd8f2d380747","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":640,"wires":[]},{"id":"e34b42c044b7bcc6","type":"debug","z":"d403bd8f2d380747","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":680,"wires":[]},{"id":"929efe9f89642456","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":760,"wires":[["945336cf59197a4a"]]},{"id":"e77e2da3dc9b799c","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":800,"wires":[["945336cf59197a4a"]]},{"id":"945336cf59197a4a","type":"function","z":"d403bd8f2d380747","name":"function 15","func":"if(msg.payload == true){\n    msg.payload = 'this is true'\n    return [msg, null];\n}\nelse{\n    msg.payload =\"this is false\"\n    return [null, msg];\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":780,"wires":[["6f13889bcd34c495"],["8d3120b493495ca4"]]},{"id":"6f13889bcd34c495","type":"debug","z":"d403bd8f2d380747","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":760,"wires":[]},{"id":"8d3120b493495ca4","type":"debug","z":"d403bd8f2d380747","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":800,"wires":[]},{"id":"097f407c7b7501d8","type":"comment","z":"d403bd8f2d380747","name":"Asynchronous Messages: Single in Multiple out with one debug","info":"","x":310,"y":900,"wires":[]},{"id":"bf5d7c40a4c398b4","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ \"apple\", \"banana\", \"orange\"]","payloadType":"json","x":170,"y":960,"wires":[["d22237232bc136d6"]]},{"id":"d22237232bc136d6","type":"function","z":"d403bd8f2d380747","name":"function 16","func":"for(let index = 0;index<msg.payload.length;index++){\n    const fruit = msg.payload[index];\n    node.send({\n        payload: fruit\n        });\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":960,"wires":[["6b8a37fd3412bd79"]]},{"id":"6b8a37fd3412bd79","type":"debug","z":"d403bd8f2d380747","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":960,"wires":[]},{"id":"d2ecb60c89fb1621","type":"comment","z":"d403bd8f2d380747","name":"Node Status","info":"","x":210,"y":1060,"wires":[]},{"id":"ed94793eb5bdbeca","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1120,"wires":[["093bb13c413c51bc"]]},{"id":"093bb13c413c51bc","type":"function","z":"d403bd8f2d380747","name":"function 17","func":"node.status({\n    fill:\"red\",\n    shape:\"ring\",\n    text:\"Clicked\"\n});\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1120,"wires":[["13290fd735af6ded"]]},{"id":"13290fd735af6ded","type":"debug","z":"d403bd8f2d380747","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":1120,"wires":[]},{"id":"d5d7a9936d9f5af9","type":"comment","z":"d403bd8f2d380747","name":"Node Context Store","info":"","x":230,"y":1200,"wires":[]},{"id":"8768d0970ff3e919","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":150,"y":1260,"wires":[["f694299b880144ba"]]},{"id":"f694299b880144ba","type":"function","z":"d403bd8f2d380747","name":"function 18","func":"const datetime = (new Date()).getTime()\n\nif(msg.payload === 'start'){\n    context.set(\"started\", datetime);\n    node.status({\n        fill: \"green\",\n        shape: \"ring\",\n        text: \"Timer Running\"\n    });\n} else{\n    const started = context.get(\"started\")\n    msg.payload = datetime - started\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Timer Stopped\"\n    });\n    return msg;\n\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1260,"wires":[["ff3d9de5d22ddc25"]]},{"id":"ff3d9de5d22ddc25","type":"debug","z":"d403bd8f2d380747","name":"debug 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":1260,"wires":[]},{"id":"fbf1cc978b7bee32","type":"inject","z":"d403bd8f2d380747","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":150,"y":1320,"wires":[["f694299b880144ba"]]},{"id":"22270d159cf04e98","type":"inject","z":"d352b7371b32ecca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["feeda3485343d3e2"]]},{"id":"feeda3485343d3e2","type":"function","z":"d352b7371b32ecca","name":"function 19","func":"weather.find({ search: 'San Francisco, CA', degreeType: 'F' }, function (err, result) {\n    if (err) console.log(err);\n\n    // console.log(JSON.stringify(result, null, 2));\n    node.send({\n        payload: result   \n    }) \n});\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"weather","module":"weather-js"}],"x":370,"y":100,"wires":[["ed22893c1f0e114d"]]},{"id":"ed22893c1f0e114d","type":"debug","z":"d352b7371b32ecca","name":"debug 51","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":100,"wires":[]},{"id":"8d6ca2750ccd1c48","type":"comment","z":"d352b7371b32ecca","name":"External Libraries https://www.npmjs.com/package/weather-js","info":"","x":340,"y":60,"wires":[]},{"id":"ce9d8418b0ab5c4e","type":"comment","z":"d352b7371b32ecca","name":"","info":"https://www.npmjs.com/package/weather-js\nhttps://flows.nodered.org/\nhttps://flowfuse.com/integrations/\n\nhttps://supabase.com/docs/reference/javascript/introduction","x":180,"y":160,"wires":[]},{"id":"9b9de7ecf95ef087","type":"inject","z":"d352b7371b32ecca","g":"b5d77ba3a0ef0d32","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["aebd09f6cead9f43"]]},{"id":"aebd09f6cead9f43","type":"debug","z":"d352b7371b32ecca","g":"b5d77ba3a0ef0d32","name":"debug 52","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":300,"wires":[]},{"id":"50757024ea62bdc6","type":"complete","z":"d352b7371b32ecca","g":"b5d77ba3a0ef0d32","name":"","scope":["aebd09f6cead9f43"],"uncaught":false,"x":190,"y":380,"wires":[["f59ac92e8398731e"]]},{"id":"f59ac92e8398731e","type":"debug","z":"d352b7371b32ecca","g":"b5d77ba3a0ef0d32","name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"8e4235229962d065","type":"comment","z":"d352b7371b32ecca","g":"b5d77ba3a0ef0d32","name":"Complete Node","info":"","x":200,"y":260,"wires":[]},{"id":"77b9f07d953d0799","type":"inject","z":"d352b7371b32ecca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":500,"wires":[["8f49a4aa85b370a3"]]},{"id":"8f49a4aa85b370a3","type":"function","z":"d352b7371b32ecca","name":"function 20","func":"node.error(\"Something Wrong\", {user:\"user123\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":500,"wires":[[]]},{"id":"b95762bc7f2484e6","type":"catch","z":"d352b7371b32ecca","name":"","scope":null,"uncaught":false,"x":180,"y":580,"wires":[["795d2d9a2fe3acc8"]]},{"id":"795d2d9a2fe3acc8","type":"debug","z":"d352b7371b32ecca","name":"debug 54","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":580,"wires":[]},{"id":"279a148218540312","type":"subflow:534807f8b9d03a26","z":"0cc7fbe18d523813","name":"","x":400,"y":180,"wires":[["b16931145b56c800"]]},{"id":"4a4e8f13a80dbb58","type":"inject","z":"0cc7fbe18d523813","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["279a148218540312"]]},{"id":"b16931145b56c800","type":"debug","z":"0cc7fbe18d523813","name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":200,"wires":[]},{"id":"e55ddc0fa8f4a523","type":"comment","z":"0cc7fbe18d523813","name":"node-red admin hash pw","info":"","x":290,"y":260,"wires":[]},{"id":"674bc8a1dad5d1af","type":"function","z":"17db4b7616a71fc0","name":"Process Data","func":"var inputString = msg.payload;\nvar jsonString = inputString.replace(/'/g, '\"');\n\nvar data = JSON.parse(jsonString);\n\nmsg.payload = {\n    Temp: data.t,\n    pH: data.p,\n    TDS: data.T,\n    ox: data.o\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["7c1d3b0207989ec3","57ca59a3e7dbc540","34b071c194617506","e8d9a0be3b7157a8"]]},{"id":"7c1d3b0207989ec3","type":"debug","z":"17db4b7616a71fc0","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"be5187269d900986","type":"firebase-out","z":"17db4b7616a71fc0","name":"","database":"a0c1670d41439961","path":"Device/-NfL6ptEZ4j3cYf6E3vV/log","pathType":"str","priority":1,"queryType":"push","x":1060,"y":400,"wires":[]},{"id":"4172cf75bf3119c1","type":"inject","z":"17db4b7616a71fc0","name":"Inject Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{'t':40.4,'p':7.2,'T':1435, 'o':3}","payloadType":"str","x":100,"y":200,"wires":[["0cc26f67b5b895c3","66753120d9f286b9"]]},{"id":"0cc26f67b5b895c3","type":"debug","z":"17db4b7616a71fc0","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":200,"wires":[]},{"id":"8622e8b7e6997864","type":"mqtt in","z":"17db4b7616a71fc0","name":"MQTT In","topic":"t","qos":"1","datatype":"auto-detect","broker":"ab7b13ae.dc7ad8","nl":false,"rap":false,"inputs":0,"x":100,"y":320,"wires":[["0cc26f67b5b895c3","66753120d9f286b9"]]},{"id":"57ca59a3e7dbc540","type":"firebase-out","z":"17db4b7616a71fc0","name":"","database":"a0c1670d41439961","path":"Device/-NfL6ptEZ4j3cYf6E3vV/rt_values","pathType":"str","priority":1,"queryType":"update","x":1090,"y":320,"wires":[]},{"id":"24827d264aae98b3","type":"comment","z":"17db4b7616a71fc0","name":"All Info","info":"Firebase Palette: @gogovega/node-red-contrib-firebase-realtime-database\nRef: https://randomnerdtutorials.com/real-time-storage-firebase-node-red/\n\n\n\n\nFinal Database:\nDB URL: https://aqua-culture-c2f73-default-rtdb.firebaseio.com/\nAPI Key: AIzaSyBXRAfPk2AGZ4zsaW5ON_XSGpRZvFFWFDQ\n\nTest Database:\nDB URL: https://aqua-test-only-default-rtdb.firebaseio.com/\nAPI Key: AIzaSyBwdpiUymn_1wd54DcUkwwsVtOdWwlDMlU","x":90,"y":120,"wires":[]},{"id":"34b071c194617506","type":"function","z":"17db4b7616a71fc0","name":"Add Timestamp","func":"var data = msg.payload;\n\nvar currentDate = new Date();\n\nvar day = currentDate.getDate().toString().padStart(2, '0');\nvar month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nvar year = currentDate.getFullYear();\nvar hours = currentDate.getHours().toString().padStart(2, '0');\nvar minutes = currentDate.getMinutes().toString().padStart(2, '0');\nvar seconds = currentDate.getSeconds().toString().padStart(2, '0');\n\n// Create the formatted date string\nvar formattedDate = `${day}:${month}:${year}_${hours}:${minutes}:${seconds}`;\n\nmsg.payload = {\n    regDate: formattedDate,\n    Temp: data.Temp,\n    pH: data.pH,\n    TDS: data.TDS,\n    ox: data.ox\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["be5187269d900986","26c77a2cb4dbde9c","c6b4ea7cbd6232ea"]]},{"id":"26c77a2cb4dbde9c","type":"debug","z":"17db4b7616a71fc0","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"e8d9a0be3b7157a8","type":"firebase-out","z":"17db4b7616a71fc0","name":"","database":"d24f7a761a7bf369","path":"Device/-NfL6ptEZ4j3cYf6E3vV/rt_values","pathType":"str","priority":1,"queryType":"update","x":1090,"y":580,"wires":[]},{"id":"c6b4ea7cbd6232ea","type":"firebase-out","z":"17db4b7616a71fc0","name":"","database":"d24f7a761a7bf369","path":"Device/-NfL6ptEZ4j3cYf6E3vV/log","pathType":"str","priority":1,"queryType":"push","x":1060,"y":640,"wires":[]},{"id":"fc56ae25c030a328","type":"comment","z":"17db4b7616a71fc0","name":"Test DB","info":"","x":950,"y":260,"wires":[]},{"id":"f4618e7beba18f14","type":"comment","z":"17db4b7616a71fc0","name":"Production DB","info":"","x":970,"y":520,"wires":[]},{"id":"66753120d9f286b9","type":"delay","z":"17db4b7616a71fc0","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":320,"wires":[["674bc8a1dad5d1af"]]},{"id":"f95786d7738b6e73","type":"comment","z":"17db4b7616a71fc0","name":"To Do 11/12/2023","info":"In aqua digital srilink code check the serial output of all sensors\ndefine character length of data sending\n\n250 max\n\nfor double set 100.00\nmake it round for tds\nif -127 send NC\nif -6.83 send NC\n","x":620,"y":100,"wires":[]},{"id":"43ba5d50366ecdc5","type":"mqtt in","z":"bdb02e5a02d34ed8","name":"","topic":"event/pub","qos":"0","datatype":"auto-detect","broker":"bc8d5bb81f82c263","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":260,"wires":[["647cee08a9061a54"]]},{"id":"647cee08a9061a54","type":"debug","z":"bdb02e5a02d34ed8","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":260,"wires":[]},{"id":"ac72621eb86f63d3","type":"function","z":"afac105056334b71","name":"Process Data","func":"var inputString = msg.payload;\nvar jsonString = inputString.replace(/'/g, '\"');\n\nvar data = JSON.parse(jsonString);\n\nmsg.payload = {\n    Temp: data.t,\n    pH: data.p,\n    TDS: data.T,\n    ox: data.o\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":400,"wires":[["e11331b2a70a8bc3","f56a652ee99083cf","8cbf0d70e62c0011"]]},{"id":"e11331b2a70a8bc3","type":"debug","z":"afac105056334b71","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":340,"wires":[]},{"id":"0ad44210d07da095","type":"firebase-out","z":"afac105056334b71","name":"","database":"a0c1670d41439961","path":"Device/-NfL6ptEZ4j3cYf6E3vV/log","pathType":"str","priority":1,"queryType":"push","x":1080,"y":480,"wires":[]},{"id":"e741bd225e9f8e7c","type":"inject","z":"afac105056334b71","name":"Inject Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{'t':28.4,'p':7.2,'T':435, 'o':3}","payloadType":"str","x":120,"y":280,"wires":[["9117543087c46ea2","2f8e018e6914659d"]]},{"id":"9117543087c46ea2","type":"debug","z":"afac105056334b71","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":280,"wires":[]},{"id":"461e47a292bc3c8e","type":"mqtt in","z":"afac105056334b71","name":"MQTT In","topic":"tt","qos":"1","datatype":"auto-detect","broker":"ab7b13ae.dc7ad8","nl":false,"rap":false,"inputs":0,"x":120,"y":400,"wires":[["9117543087c46ea2","2f8e018e6914659d"]]},{"id":"f56a652ee99083cf","type":"firebase-out","z":"afac105056334b71","name":"","database":"a0c1670d41439961","path":"Device/-NfL6ptEZ4j3cYf6E3vV/rt_values","pathType":"str","priority":1,"queryType":"update","x":1110,"y":400,"wires":[]},{"id":"743f8340f12b4251","type":"comment","z":"afac105056334b71","name":"All Info","info":"Firebase Palette: @gogovega/node-red-contrib-firebase-realtime-database\nRef: https://randomnerdtutorials.com/real-time-storage-firebase-node-red/\n\n\n\n\nFinal Database:\nDB URL: https://aqua-culture-c2f73-default-rtdb.firebaseio.com/\nAPI Key: AIzaSyBXRAfPk2AGZ4zsaW5ON_XSGpRZvFFWFDQ\n\nTest Database:\nDB URL: https://aqua-test-only-default-rtdb.firebaseio.com/\nAPI Key: AIzaSyBwdpiUymn_1wd54DcUkwwsVtOdWwlDMlU","x":110,"y":200,"wires":[]},{"id":"8cbf0d70e62c0011","type":"function","z":"afac105056334b71","name":"Add Timestamp","func":"var data = msg.payload;\n\nvar currentDate = new Date();\n\nvar day = currentDate.getDate().toString().padStart(2, '0');\nvar month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nvar year = currentDate.getFullYear();\nvar hours = currentDate.getHours().toString().padStart(2, '0');\nvar minutes = currentDate.getMinutes().toString().padStart(2, '0');\nvar seconds = currentDate.getSeconds().toString().padStart(2, '0');\n\n// Create the formatted date string\nvar formattedDate = `${day}:${month}:${year}_${hours}:${minutes}:${seconds}`;\n\nmsg.payload = {\n    Time: formattedDate,\n    Temp: data.Temp,\n    pH: data.pH,\n    TDS: data.TDS,\n    ox: data.ox\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":480,"wires":[["0ad44210d07da095","37e46a0f7772437b"]]},{"id":"37e46a0f7772437b","type":"debug","z":"afac105056334b71","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":540,"wires":[]},{"id":"0c3b347402db3c37","type":"comment","z":"afac105056334b71","name":"Test DB","info":"","x":970,"y":340,"wires":[]},{"id":"2f8e018e6914659d","type":"delay","z":"afac105056334b71","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":400,"wires":[["ac72621eb86f63d3"]]},{"id":"6576f7b4b459c2da","type":"mqtt in","z":"afac105056334b71","name":"","topic":"tt","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":600,"wires":[["e20ea3e99d823d25"]]},{"id":"e20ea3e99d823d25","type":"debug","z":"afac105056334b71","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":600,"wires":[]},{"id":"21a257c5c1835ea3","type":"function","z":"cdd4f524750eb8b5","name":"Process Data","func":"function generateUniqueID() {\n    return Math.random().toString(36).substr(2, 9);\n}\n\nvar inputString = msg.payload;\nvar jsonString = inputString.replace(/'/g, '\"');\nvar data = JSON.parse(jsonString);\n\nfunction checkNegative(value) {\n    return value < 0 ? 'NC' : value;\n}\n\nvar uniqueID = generateUniqueID();\n\nmsg.payload = {\n    Temp: checkNegative(data.t),\n    pH: checkNegative(data.p),\n    TDS: checkNegative(data.T),\n    ox: data.o,\n    uniqueID: uniqueID\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["43c87bd99f506f7c","58b47c5474c32bac","4d25fb0244fd00a7"]]},{"id":"43c87bd99f506f7c","type":"debug","z":"cdd4f524750eb8b5","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"34a459529eb63beb","type":"inject","z":"cdd4f524750eb8b5","name":"Inject Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{'t':12790,'p':7.2,'T':435, 'o':300}","payloadType":"str","x":100,"y":200,"wires":[["0d7a4ee9fec1faa5","9181d15eeee30a83"]]},{"id":"0d7a4ee9fec1faa5","type":"debug","z":"cdd4f524750eb8b5","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":200,"wires":[]},{"id":"4d25fb0244fd00a7","type":"function","z":"cdd4f524750eb8b5","name":"Add Timestamp","func":"var data = msg.payload;\n\nvar currentDate = new Date();\n\nvar day = currentDate.getDate().toString().padStart(2, '0');\nvar month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nvar year = currentDate.getFullYear();\nvar hours = currentDate.getHours().toString().padStart(2, '0');\nvar minutes = currentDate.getMinutes().toString().padStart(2, '0');\nvar seconds = currentDate.getSeconds().toString().padStart(2, '0');\n\nvar formattedDate = `${day}:${month}:${year}_${hours}:${minutes}:${seconds}`;\n\nmsg.payload = {\n    uniqueID: data.uniqueID, \n    time: formattedDate,\n    Temp: data.Temp,\n    pH: data.pH,\n    TDS: data.TDS,\n    ox: data.ox\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["3fe0442b8f6b94d0","71387a58a7358d15"]]},{"id":"71387a58a7358d15","type":"debug","z":"cdd4f524750eb8b5","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"9181d15eeee30a83","type":"delay","z":"cdd4f524750eb8b5","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":320,"wires":[["21a257c5c1835ea3"]]},{"id":"3fe0442b8f6b94d0","type":"firebase-out","z":"cdd4f524750eb8b5","name":"","database":"a0c1670d41439961","path":"Devices/Shehani/log","pathType":"str","priority":1,"queryType":"push","x":1020,"y":400,"wires":[]},{"id":"58b47c5474c32bac","type":"firebase-out","z":"cdd4f524750eb8b5","name":"","database":"a0c1670d41439961","path":"Devices/Shehani/rt_values","pathType":"str","priority":1,"queryType":"update","x":1050,"y":320,"wires":[]},{"id":"06d708a5c1bd1872","type":"mqtt in","z":"3b03ae8d6db0c983","name":"","topic":"event/pub","qos":"0","datatype":"auto-detect","broker":"bc8d5bb81f82c263","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":120,"wires":[["a019b2b0f1b6d005","978f31d03a48ef1a"]]},{"id":"a019b2b0f1b6d005","type":"debug","z":"3b03ae8d6db0c983","name":"debug 01","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":120,"wires":[]},{"id":"2eeed961f66b3224","type":"mqtt out","z":"3b03ae8d6db0c983","name":"","topic":"event/sub","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e831e97d.9c2728","x":440,"y":380,"wires":[]},{"id":"26e98bf31dbb2a55","type":"ui_button","z":"3b03ae8d6db0c983","name":"","group":"71703d2749d9d15c","order":0,"width":0,"height":0,"passthru":false,"label":"On GPIO","tooltip":"","color":"white","bgcolor":"","className":"","icon":"fa-circle","payload":"1","payloadType":"str","topic":"","topicType":"str","x":180,"y":360,"wires":[["2eeed961f66b3224","f18aa3803f46f5fa"]]},{"id":"1456ee397f634dfa","type":"ui_button","z":"3b03ae8d6db0c983","name":"","group":"71703d2749d9d15c","order":0,"width":0,"height":0,"passthru":false,"label":"Off GPIO","tooltip":"","color":"black","bgcolor":"","className":"","icon":"fa-circle-o","payload":"0","payloadType":"str","topic":"","topicType":"str","x":183,"y":402,"wires":[["2eeed961f66b3224","970801279d55790b"]]},{"id":"f18aa3803f46f5fa","type":"debug","z":"3b03ae8d6db0c983","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":320,"wires":[]},{"id":"970801279d55790b","type":"debug","z":"3b03ae8d6db0c983","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":460,"wires":[]},{"id":"ae9c06265bee2cc5","type":"comment","z":"3b03ae8d6db0c983","name":"ESP32 GPIO Control MQTT","info":"Palette\n\nnode-red-dashboard\n\nRef.\nhttps://pdacontrolen.com/tutorial-esp8266-and-node-red-mqtt-gpio/","x":240,"y":260,"wires":[]},{"id":"978f31d03a48ef1a","type":"firebase-out","z":"3b03ae8d6db0c983","name":"log","database":"4ebde4bf086c8941","path":"hello","pathType":"str","priority":1,"queryType":"push","x":675,"y":240,"wires":[],"l":false},{"id":"e8493d9bfb0f1de0","type":"firebase-in","z":"3b03ae8d6db0c983","name":"","constraint":{},"database":"8a0730c7ed638274","listenerType":"value","outputType":"string","path":"hello000000000","useConstraint":false,"x":200,"y":600,"wires":[["2eeed961f66b3224"]]},{"id":"24b42360ad60ee6b","type":"mqtt in","z":"3b03ae8d6db0c983","name":"","topic":"event/pub1","qos":"0","datatype":"auto-detect","broker":"bc8d5bb81f82c263","nl":false,"rap":true,"rh":0,"inputs":0,"x":880,"y":120,"wires":[["e32e13c42a521d32"]]},{"id":"e32e13c42a521d32","type":"debug","z":"3b03ae8d6db0c983","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":120,"wires":[]},{"id":"2ae6863d.4dde9a","type":"ui_switch","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","label":"Relay1","tooltip":"","group":"d7c12b74.277828","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":true,"className":"","x":140,"y":140,"wires":[["6e4f621f.b2f1e4"]]},{"id":"80ec7e53.05efd8","type":"ui_switch","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","label":"Relay2","tooltip":"","group":"d7c12b74.277828","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":180,"wires":[["31c609d9.aa546e"]]},{"id":"2b95a165.3c9426","type":"ui_switch","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","label":"Relay3","tooltip":"","group":"d7c12b74.277828","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":220,"wires":[["400c763c.ec8bf"]]},{"id":"528863e0.79eb54","type":"ui_switch","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","label":"Relay4","tooltip":"","group":"d7c12b74.277828","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":260,"wires":[["f9f33605.5751e8"]]},{"id":"6e4f621f.b2f1e4","type":"mqtt out","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","topic":"device1/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":350,"y":100,"wires":[]},{"id":"31c609d9.aa546e","type":"mqtt out","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","topic":"device1/relay2","qos":"","retain":"","broker":"","x":350,"y":160,"wires":[]},{"id":"400c763c.ec8bf","type":"mqtt out","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","topic":"device1/relay3","qos":"","retain":"","broker":"","x":350,"y":220,"wires":[]},{"id":"f9f33605.5751e8","type":"mqtt out","z":"5aaaa13.ece6d6","g":"f7c57443fd647ca2","name":"","topic":"device1/relay4","qos":"","retain":"","broker":"","x":350,"y":280,"wires":[]},{"id":"3080521d.7019b6","type":"ui_switch","z":"5aaaa13.ece6d6","name":"","label":"Relay1","tooltip":"","group":"4120bc84.e1bb74","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":340,"wires":[["927738e8.eb409"]]},{"id":"4b7d4ba8.a8564c","type":"ui_switch","z":"5aaaa13.ece6d6","name":"","label":"Relay2","tooltip":"","group":"4120bc84.e1bb74","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":380,"wires":[["8f30456c.544c48"]]},{"id":"1f4f9567.212d43","type":"ui_switch","z":"5aaaa13.ece6d6","name":"","label":"Relay3","tooltip":"","group":"4120bc84.e1bb74","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":420,"wires":[["88835b52.e8fa68"]]},{"id":"9560347b.8c717","type":"ui_switch","z":"5aaaa13.ece6d6","name":"","label":"Relay4","tooltip":"","group":"4120bc84.e1bb74","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":460,"wires":[["716ff0bb.3f9c68"]]},{"id":"927738e8.eb409","type":"mqtt out","z":"5aaaa13.ece6d6","name":"","topic":"device2/relay1","qos":"","retain":"","broker":"","x":840,"y":300,"wires":[]},{"id":"8f30456c.544c48","type":"mqtt out","z":"5aaaa13.ece6d6","name":"","topic":"device2/relay2","qos":"","retain":"","broker":"","x":840,"y":360,"wires":[]},{"id":"88835b52.e8fa68","type":"mqtt out","z":"5aaaa13.ece6d6","name":"","topic":"device2/relay3","qos":"","retain":"","broker":"","x":840,"y":420,"wires":[]},{"id":"716ff0bb.3f9c68","type":"mqtt out","z":"5aaaa13.ece6d6","name":"","topic":"device2/relay4","qos":"","retain":"","broker":"","x":840,"y":480,"wires":[]},{"id":"13e81e7b.9fd41a","type":"ui_gauge","z":"5aaaa13.ece6d6","name":"Temperature","group":"7ccde2ba.796d34","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"deg C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":470,"y":580,"wires":[]},{"id":"7a908f84.d8498","type":"ui_gauge","z":"5aaaa13.ece6d6","name":"Humidity","group":"7ccde2ba.796d34","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":460,"y":640,"wires":[]},{"id":"9f056e5c.24bf8","type":"mqtt in","z":"5aaaa13.ece6d6","name":"","topic":"device2/temp","qos":"2","datatype":"auto","broker":"","inputs":0,"x":280,"y":580,"wires":[["13e81e7b.9fd41a"]]},{"id":"d57eb7e3.7d8898","type":"mqtt in","z":"5aaaa13.ece6d6","name":"","topic":"device2/hum","qos":"2","datatype":"auto","broker":"","inputs":0,"x":270,"y":640,"wires":[["7a908f84.d8498"]]}]