node-red/node-red-data/flows.json
[
    {
        "id": "2069bda24c7c7ed8",
        "type": "tab",
        "label": "Rumesh_Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29cdd6ed6a1933b4",
        "type": "function",
        "z": "2069bda24c7c7ed8",
        "name": "Process Data",
        "func": "\n\nvar inputString = msg.payload;\nvar jsonString = inputString.replace(/'/g, '\"');\nvar data = JSON.parse(jsonString);\n\nfunction checkNegative(value) {\n    return value < 0 ? 'NC' : value;\n}\n\n\nmsg.payload = {\n    Temp: checkNegative(data.t),\n    pH: checkNegative(data.p),\n    TDS: checkNegative(data.T),\n    ox: data.o,\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "ace802b9380be149",
                "d7b2d5a8dde65603",
                "6ba0b322bb339263"
            ]
        ]
    },
    {
        "id": "ace802b9380be149",
        "type": "debug",
        "z": "2069bda24c7c7ed8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "3cb34b9255a199f7",
        "type": "inject",
        "z": "2069bda24c7c7ed8",
        "name": "Inject Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "{'t':12790,'p':7.2,'T':435, 'o':300}",
        "payloadType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "32d4a7dff53c3f72",
                "29cdd6ed6a1933b4"
            ]
        ]
    },
    {
        "id": "32d4a7dff53c3f72",
        "type": "debug",
        "z": "2069bda24c7c7ed8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ba0b322bb339263",
        "type": "function",
        "z": "2069bda24c7c7ed8",
        "name": "Add Timestamp",
        "func": "var data = msg.payload;\n\nvar currentDate = new Date();\n\nvar day = currentDate.getDate().toString().padStart(2, '0');\nvar month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nvar year = currentDate.getFullYear();\nvar hours = currentDate.getHours().toString().padStart(2, '0');\nvar minutes = currentDate.getMinutes().toString().padStart(2, '0');\nvar seconds = currentDate.getSeconds().toString().padStart(2, '0');\n\nvar formattedDate = `${day}:${month}:${year}_${hours}:${minutes}:${seconds}`;\n\nmsg.payload = { \n    time: formattedDate,\n    Temp: data.Temp,\n    pH: data.pH,\n    TDS: data.TDS,\n    ox: data.ox\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "d8b9326eb54a2b81",
                "00195d7176b5be24"
            ]
        ]
    },
    {
        "id": "00195d7176b5be24",
        "type": "debug",
        "z": "2069bda24c7c7ed8",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8b9326eb54a2b81",
        "type": "firebase-out",
        "z": "2069bda24c7c7ed8",
        "name": "",
        "database": "7be4946d8e0d9b73",
        "path": "Devices/Rumesh/log",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "d7b2d5a8dde65603",
        "type": "firebase-out",
        "z": "2069bda24c7c7ed8",
        "name": "",
        "database": "7be4946d8e0d9b73",
        "path": "Devices/Rumesh/RT",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "7be4946d8e0d9b73",
        "type": "database-config",
        "name": "Embedded-Product-Dev",
        "authType": "email",
        "claims": {},
        "createUser": true,
        "useClaims": false
    }
]